* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: var(--bg-primary);
  height: 100vh;
  width: 100vw;
  padding: 1rem;
  font-family: "Inter";
  overflow-x: hidden; /* avoid x-axis overflow across pages */
}

/* Unified Container and Main Layout */
.container {
  height: 100%;
  display: flex;
  gap: 1rem;
}

.main {
  flex: 1;
  background-color: var(--bg-white);
  border-radius: 1rem;
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.main-header {
  height: fit-content;
  padding: 1.5rem;
  border-bottom: 0.8px solid lightgray;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header-left {
  display: flex;
  gap: 1rem;
}

.main-header .txt-large {
  text-align: left;
  margin-bottom: 0.5rem;
  font-weight: 500;
}

@media (max-width: 1024px) {
  body {
    background-color: var(--color-white);
    padding: 0;
  }

  .container {
    gap: 0;
  }

  .main {
    width: 100%;
    border-radius: 0;
    box-shadow: none;
  }

  .main-header {
    position: relative;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main-header-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main-header-left > div {
    text-align: center;
  }

  .back-btn-left {
    display: none;
  }

  .nav-txt-low {
    display: none;
  }

  .nav-btn {
    display: none;
  }

  .main-header .txt-large {
    margin-bottom: 0rem;
    font-size: 18px;
  }

  .moon-line {
    display: none;
  }

  .mobile-menu-toggle {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
  }
}
