/* Override base.css padding for login page on desktop */
body {
  padding: 3rem 8rem;
}
.forgotPassword-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.forgotPassword-box {
  height: 100%;
  width: 100%;
}
.forgotPassword-box-content {
  background-color: var(--bg-white);
  height: 100%;
  width: 80%;
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 3rem;
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3.5rem;
}
.logo-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-header-lan {
  opacity: 0;
}

.forgotPassword-form-container {
  height: 100%;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 3.5rem;
}

.forgotPassword-form-contents {
  height: 75%;
  width: 100%;
}
.success-form-contents {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.forgotPassword-form-contents-2 {
  /* height: 75%; */
  width: 100%;
}
.forgotPassword-form-input-group {
  flex: 1;
  margin-bottom: 1rem;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  gap: 1rem;
}
.sub-text {
  color: var(--primary-blue);
  font-family: Inter;
  font-size: rem;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 1.2375rem */
  letter-spacing: -0.0225rem;
}

.forgotPassword-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 3.5rem 0;
}

.forgotPassword-back-btn-icon {
  width: 0.875rem;
  height: 0.85rem;
  aspect-ratio: 1/2;
  stroke-width: 1.8px;
}

/* OTP inputs */
.otp-inputs {
  display: grid;
  grid-template-columns: repeat(6, 5rem);
  gap: 1rem;
  margin-top: 0.5rem;
  justify-content: center;
}

.otp-input {
  height: 3.25rem;

  border: 1px solid var(--border-blue, #c8d3e5);
  border-radius: 0.5rem;
  text-align: center;
  font-size: 1.25rem;
  line-height: 3.25rem;
  outline: none;
}

.otp-input:focus {
  border-color: var(--primary-blue);
  box-shadow: 0 0 0 3px rgba(7, 88, 189, 0.15);
}

.otp-resend {
  color: rgba(20, 20, 20, 0.7);
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.01rem;
}

.otp-resend a {
  color: var(--Primary, #164b7d);
  font-size: 1rem;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.01rem;
  text-decoration-line: underline;
  text-decoration-thickness: 5.5%;
  text-underline-offset: 16.25%;
}

.success-fancy {
  color: var(--primary-blue);
  font-family: Inter;
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: -0.06rem;
  text-align: center;
}
