.login-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-box {
  height: 100%;
  width: 100%;
}
.login-box-content {
  background-color: var(--bg-white);
  height: 100%;
  width: 80%;
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 3rem;
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.1);
}
.logo-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-header-lan {
  opacity: 0;
}
.login-form-container {
  height: 100%;
  width: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-form-contents {
  height: 75%;
  width: 100%;
}

/* Form styles (match Figma) */
.login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 3.5rem 0;
}
.form-input-group {
  flex: 1;
  margin-bottom: 3.5rem;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  gap: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-group input::placeholder {
  color: var(--place-holder);
  font-size: 0.8rem;
}

.form-row.options-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.25rem;
}

.checkbox {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  user-select: none;
}

.checkbox input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.custom-checkbox {
  width: 20px;
  height: 20px;
  display: inline-block;
  position: relative;
}

.custom-checkbox::before {
  content: "";
  position: absolute;
  inset: 2px;
  background: var(--primary-blue);
  border-radius: 4px;
}

.custom-checkbox::after {
  content: "";
  position: absolute;
  left: 27.35%;
  right: 27.35%;
  top: 34.85%;
  bottom: 32.2%;
  border: 2px solid var(--bg-white);
  border-top: 0;
  border-left: 0;
  transform: rotate(45deg);
}

.register-now {
  margin: 0 auto;
}
.register-now .txt-small {
  font-weight: 500;
}
.register-now a {
  color: var(--primary-blue-light);
}
/* login right section started */

.login-image {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
  position: relative;
}
.login-image-bg {
  background: url("../images/Bg_pattern.svg");
  height: 100%;
  width: 100%;
  position: absolute;
  background-position: center;
}
.login-image img {
  z-index: 5;
}
.login-img-txt-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  color: var(--primary-blue);
  position: relative;
}
.login-img-txt-container span {
  width: 75%;
  text-align: center;
  color: var(--primary-blue);
  line-height: 1.5;
  opacity: 0.8;
}
.login-img-txt {
  margin: 0;
}
